<!DOCTYPE html>
<html ng-app>
<head>
    <title>TIC TAC TOE (:
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">
    
</head>
<body ng-cloak>

    @RenderBody()

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/angular.min.js"></script>
    <script src="../../Scripts/angular-bootstrap.min.js"></script>
    <script src="../../App/app.js"></script>
</body>
</html>
